<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)] = "visao" >
    <ion-segment-button value="chats">Chats</ion-segment-button>
    <ion-segment-button value="contatos">Contatos</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<!--<ion-toolbar>
 <ion-searchbar (ionInput)="filtroContato($event)"></ion-searchbar>
</ion-toolbar>-->

<ion-content padding>
   
  <div [ngSwitch]="visao">
     
    <ion-list *ngSwitchCase="'chats'" no-lines>
      <button ion-item *ngFor="let chat of chats  | async" (click)="abreChatExistente(chat)">
        <h2><b>{{ chat.titulo }}</b></h2>
        <p *ngIf="chat.ultimaMensagem == ' '; else templateElse">Sem Mensagens</p>
        <ng-template #templateElse>
          <p>{{ chat.timeStamp | date:'dd/MM/y H:mm' }} - <i>{{ chat.ultimaMensagem }}</i></p>
        </ng-template>        
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'contatos'" no-lines>
        <button ion-item *ngFor="let usuario of usuarios | async" (click)="paginaChat(usuario)">
          {{ usuario.nome }}
        </button>
      </ion-list>

  </div>
    
  <button ion-button block (click)="logout()">Logout</button>
  
</ion-content>